@import url("https://fonts.googleapis.com/css?family=Patrick+Hand|Nothing+You+Could+Do|Hind:400,600");
h1, h2, h3, h4, h5, p {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

h2, h3 {
  margin-bottom: 20px;
}

h4, h5, p {
  margin-bottom: 10px;
}

#app {
  width: 100%;
  height: 100%;
}

.splash {
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splash .overlay {
  width: 100%;
  height: 100%;
  background: rgba(62, 41, 22, 0.75);
}

.splash .overlay .header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.splash .overlay .header h1 {
  font-family: "Patrick Hand", sans-serif;
  font-size: 60px;
  color: #CC9F74;
  letter-spacing: 2px;
}

.splash .overlay .header p {
  font-family: "Nothing You Could Do", sans-serif;
  font-size: 16px;
  color: white;
  width: 275px;
  margin: 0 auto;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.splash .overlay .header button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 25px;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  transition: all 0.3s ease-out;
}

.splash .overlay .header button:hover {
  cursor: pointer;
  padding: 5px 35px;
  background-color: #CC9F74;
  transition: all 0.3s ease-out;
}

.listings {
  margin-bottom: 75px;
  text-align: center;
}

.listings .header h1 {
  font-family: "Patrick Hand", sans-serif;
  font-size: 60px;
  color: #B57A42;
  letter-spacing: 2px;
}

.listings .header p {
  font-family: "Nothing You Could Do", sans-serif;
  font-size: 16px;
  color: #494F56;
  width: 275px;
  margin: 0 auto;
  border-left: 2px solid #494F56;
  border-right: 2px solid #494F56;
}

.listings .body {
  margin-top: 30px;
}

.listings .body .button img {
  width: 100px;
}

.listings .body .button button {
  background-color: transparent;
  border: 2px solid #494F56;
  border-radius: 20px;
  padding: 5px 25px;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  color: #494F56;
  font-weight: 600;
  margin-top: 30px;
  transition: all 0.3s ease-out;
}

.listings .body .button button:hover {
  cursor: pointer;
  padding: 5px 35px;
  color: white;
  background-color: #494F56;
  transition: all 0.3s ease-out;
}

.listings .body .list {
  margin-top: 50px;
  list-style: none;
}

.listings .body .list button {
  padding: 0 20px;
  font-family: "Hind", sans-serif;
  font-size: 18px;
}

.listings .body .country {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .splash .header {
    transform: translate(-50%, -75%);
  }
  .splash .header h1 {
    font-size: 120px;
  }
  .splash .header p {
    font-size: 32px;
    width: 550px;
  }
  .listings .header h1 {
    font-size: 120px;
  }
  .listings .header p {
    font-size: 32px;
    width: 550px;
  }
}
