@import url("https://fonts.googleapis.com/css?family=Patrick+Hand|Nothing+You+Could+Do|Hind:400,600");
h1, h2, h3, h4, h5, p, button, li {
  color: #494F56;
}

h1, h2, h3, h4, h5, p {
  margin-top: 0;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 20px;
}

h4, h5, p {
  margin-bottom: 10px;
}

h1 {
  font-family: "Patrick Hand", sans-serif;
  letter-spacing: 2px;
}

h2 {
  font-family: "Patrick Hand", sans-serif;
}

h3, p, button, li {
  font-family: "Hind", sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

.splash {
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.splash .overlay {
  width: 100%;
  height: 100%;
  background: rgba(62, 41, 22, 0.75);
}

.splash .overlay .header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.splash .overlay .header h1 {
  font-size: 60px;
  color: #CC9F74;
}

.splash .overlay .header p {
  font-family: "Nothing You Could Do", sans-serif;
  font-size: 16px;
  color: white;
  width: 275px;
  margin: 0 auto;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.splash .overlay .header button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 25px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-top: 30px;
  transition: all 0.3s ease-out;
}

.splash .overlay .header button:hover {
  cursor: pointer;
  padding: 5px 35px;
  background-color: #CC9F74;
  transition: all 0.3s ease-out;
}

.listings {
  margin-bottom: 75px;
  text-align: center;
}

.listings .header {
  position: fixed;
  height: 125px;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 999;
  background-color: white;
}

.listings .header h1 {
  font-size: 60px;
  color: #B57A42;
}

.listings .header p {
  font-family: "Nothing You Could Do", sans-serif;
  font-size: 16px;
  width: 275px;
  margin: 0 auto;
  border-left: 2px solid #494F56;
  border-right: 2px solid #494F56;
}

.listings .body {
  width: 75%;
  margin: 150px auto 0;
}

.listings .body .button img {
  width: 100px;
}

.listings .body .button button {
  background-color: transparent;
  border: 2px solid #494F56;
  border-radius: 20px;
  padding: 5px 25px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-out;
}

.listings .body .button button:hover {
  cursor: pointer;
  padding: 5px 35px;
  color: white;
  background-color: #494F56;
  transition: all 0.3s ease-out;
}

.listings .body .list {
  margin-top: 50px;
}

.listings .body .list ul {
  column-count: 1;
  list-style: none;
  padding-left: 0;
}

.listings .body .list button {
  background-color: transparent;
  border: none;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  padding: 0 20px;
  font-size: 18px;
  transition: all 0.3s ease-out;
}

.listings .body .list button:hover {
  cursor: pointer;
  border-left-color: #B57A42;
  padding-left: 30px;
  color: #B57A42;
  transition: all 0.3s ease-out;
}

.listings .body .country {
  max-width: 500px;
  margin: 50px auto 0;
}

.listings .body .country h2 {
  font-size: 30px;
  color: #B57A42;
}

.listings .body .country h3 {
  font-size: 20px;
  margin: 20px auto;
  position: relative;
}

.listings .body .country h3:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 1px;
  border-bottom: 2px solid #B57A42;
}

.listings .body .country p {
  font-size: 16px;
  margin-bottom: 35px;
}

.listings .body .country .fa {
  font-size: 50px;
  color: #494F56;
}

.listings .body .country .line-100 {
  width: 100px;
}

.listings .body .country .line-125 {
  width: 125px;
}

.listings .body .country .line-140 {
  width: 140px;
}

.listings .body .country .line-200 {
  width: 200px;
}

.listings .body .country .disclaimer {
  font-size: 12px;
}

@media (min-width: 768px) {
  .splash .overlay .header {
    transform: translate(-50%, -75%);
  }
  .splash .overlay .header h1 {
    font-size: 120px;
  }
  .splash .overlay .header p {
    font-size: 32px;
    width: 550px;
  }
  .listings .header {
    position: relative;
    height: 225px;
  }
  .listings .header h1 {
    font-size: 120px;
  }
  .listings .header p {
    font-size: 32px;
    width: 550px;
  }
  .listings .body {
    margin-top: 50px;
  }
  .listings .body .list ul {
    column-count: 2;
  }
  .listings .body .country h2 {
    font-size: 54px;
  }
}

@media (min-width: 1024px) {
  .listings .body .list ul {
    column-count: 3;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.shadow {
  box-shadow: 0px 0px 10px 0px #cbcfd3;
}

@media (min-width: 768px) {
  .shadow {
    box-shadow: none;
  }
}

@media (hover: none), (hover: on-demand) {
  .splash .overlay .header button:hover {
    background-color: transparent;
    padding: 5px 25px;
  }
  .listings .body .button button:hover {
    background-color: transparent;
    padding: 5px 25px;
    color: #494F56;
  }
  .listings .body .list button:hover {
    border-left-color: transparent;
    padding-left: 20px;
    color: #494F56;
  }
}
